<div class="clearfix">
  <h2 class="inline"><%= @task.name %></h2>
  <%= link_to "Edit", edit_task_path(@task), id: 'edit-task', class: 'btn btn-default right'%>
</div>
<p>
  <% if @task.completed %>
    <span class="task-completed-lbl completed">Completed</span>
  <% else %>
    <span class="task-completed-lbl">Not Completed</span>
  <% end %>
  <span class="complete-by"><%= days_from_today(@task.complete_by) %></span>
</p>
<p><%= @task.description %></p>
<h3>In projects:</h3>
<ul class="list-group">
  <%= render @task.projects %>
</ul>
<%= link_to "Delete", task_path(@task), method: 'delete', id: 'delete-task', class: 'btn btn-danger'%>
