<%= form_for project do |f| %>
  <%= render partial: 'application/form_errors', locals: {object: project} %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <%= f.fields_for :messages do |message_form| %>
    <div class="form-group">
      <%= message_form.label :message_type %>
      <%= message_form.select :message_type, {'None' => '', 'Info' => 'info', 'Success' => 'success', 'Warning' => 'warning', 'Danger' => 'danger'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= message_form.label :content %>
      <%= message_form.text_field :content, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
