<div class="clearfix">
  <h2 class="inline" ><%= @project.name %></h2>
  <%= link_to "Edit", edit_project_path(@project), id: 'edit-project', class: 'btn btn-default right'%>
</div>

<% @project.messages.each do |message| %>
  <% if !message.message_type.blank? %>
  <div class="alert alert-<%= message.message_type %>"><%= message.content %></div>
  <% end %>
<% end %>

<p><%= @project.description %></p>
<h3>Tasks</h3>
<ul class="list-group">
  <%= render partial: "tasks/task", collection: @project.tasks_by_priority, locals: {project: @project} %>
  <li class="list-group-item">
    <%= form_for [@project, Task.new] do |f|%>
      <%= f.text_field :name, placeholder: 'New Task Name (ENTER to create)', class: 'form-control'%>
    <%end%>
  </li>
</ul>
<%= link_to "Delete", project_path(@project), method: 'delete', id: 'delete-project', class: 'btn btn-danger'%>
